:root {
    --orange : #F16718;
    --light-orange: #FF9B62;
    --dark-blue: #162542;
    --grey: #7B8BAD;
    --white : #E8EFF2;
    
    --h1: 3.5rem;
    --h2: 2rem;
    --h3: 1.5rem;
    --body : 1rem;
}